<%@order||=order%>
<% rewards_redeemed = @order.rewards_redeemed %>
<% if !rewards_redeemed.nil? %>
  <% rewards = rewards_redeemed.label.split(" ") %>
  <% user_profile = Zinrelo.new.user_point_profile(@order.email,@order.store.code) %>
  <div class="panel panel-default">
    <div class="panel-body delivery">
      <h2>Rewards Redeemed!</h2>
      <p>You redeemed <%= rewards[3] %> points for
        <%= Spree::Money.new(rewards_redeemed.amount.abs, :currency => @order.currency) %>. Your new point balance is
        : <%= user_profile["available_points"] %></p>
    </div>
  </div>
<% end %>
